*.vsix
# node_modules
node_modules/.cache/
node_modules/typescript/lib/tsc.js
node_modules/typescript/lib/tsserver.js
node_modules/typescript/lib/tsserverlibrary.js
node_modules/typescript/lib/typescriptServices.js
node_modules/.bin


language_service/node_modules
*.env
language_service/client
language_service/server
language_service/webpack/
build_helper/

**/*.map
**/tsconfig.json
**/tsconfig.**.json
**/tslint.json
**/yarn.lock

.vscode
.vscode-test
logs
*.logs